<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cumt.blue">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <!--启用应用启动设备发现或者操作蓝牙设备的超级管理员-->
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <application
        android:name=".BaseApplication">
        <activity android:name=".BluePlugin"/>
    </application>
</manifest>
